---
import { services } from "@/components/home/services-section/servicesData";
import ServiceItem from "./ServiceItem.astro";

interface Service {
  id: number;
  title: string;
}
---
<div class="flex flex-col items-start space-y-6 md:space-y-14 mx-auto max-w-full">
  {services.map((service: Service) => (
    <ServiceItem title={service.title} />
  ))}
</div>
