---
import { services } from "@/components/home/services-section/servicesData";
import ServiceItem from "./ServiceItem.astro";

interface Service {
  id: number;
  title: string;
  description: string;
}
---

<section class="mx-auto max-w-6xl space-y-8 py-20">
  {
    services.map((service: Service) => (
      <ServiceItem title={service.title} description={service.description} />
    ))
  }
</section>
