---
import PageLayout from "@/layouts/PageLayout.astro";
import Hero from "@/components/home/Hero.astro";
import ContainerSection from "@/components/common/ContainerSection.astro";
import PortfolioSection from "@/components/home/portfolio-section";
import TechStack from "@/components/home/tech-stack-section";
import Clients from "@/components/home/clients-section";
import { pagesSeo } from "@/config/pages";

const meta = pagesSeo["index"];
---

<PageLayout meta={meta}>
  <Hero />
  <div class="py-14">
    <ContainerSection>
      <TechStack client:visible />
    </ContainerSection>
    <Clients client:visible />
    <ContainerSection>
      <PortfolioSection client:visible />
    </ContainerSection>
  </div>
</PageLayout>
