---
import PageLayout from "@/layouts/PageLayout.astro";
import Hero from "@/components/home/Hero.astro";
import ContainerSection from "@/components/common/ContainerSection.astro";
import PortfolioSection from "@/components/home/portfolio-section";
import TechStack from "@/components/home/tech-stack-section";
---

<PageLayout meta={{ title: "Home" }}>
  <Hero />
  <div class="py-14">
    <ContainerSection>
      <TechStack client:visible/>
      <PortfolioSection client:visible />
    </ContainerSection>
  </div>
</PageLayout>
