---
import { Image } from "astro:assets";
import Starfield from "./Starfield.astro";
import lucasFace from "@/assets/logo-to-post.png";
import Services from "./services-section/Services.astro";
import ContainerSection from "@/components/common/ContainerSection.astro";
---

<section class="relative min-h-screen overflow-visible">
  <div class="absolute inset-0 -z-10">
    <Starfield />
  </div>
  <div class="flex h-screen flex-col items-center justify-center text-center">
    <div class="mb-8 flex flex-col items-center justify-center gap-4 px-4">
      <div id="profile-image" class="cc-profile-image relative flex items-center justify-center">
        <Image
          class="h-44 w-44 rounded-full object-cover"
          src={lucasFace}
          alt="lukas profile picture"
          loading="lazy"
        />
      </div>
      <div
        class="gradient-text flex flex-col items-center gap-1 px-8 py-4 text-5xl font-bold tracking-tighter md:text-6xl"
      >
        <h2>AI Greener Lukasz Zatyka</h2>
        <h2 class="text-sm tracking-wide">Smart Software & Data Solutions</h2>
        <h3 class="pb-1 text-2xl tracking-tight md:text-xl">
          Building intelligent software & AI-driven solutions for a greener future
        </h3>
      </div>

      <div class="mt-4 flex max-w-xs flex-col gap-4 sm:max-w-md sm:flex-row sm:justify-center">
        <a href="https://calendly.com/lukasz-zatyka/discovery-call" class="w-full sm:w-auto">
          <button class="btn btn-primary w-full">Discovery Call</button>
        </a>
      </div>
    </div>
  </div>
  <ContainerSection>
    <div class="mx-auto max-w-full sm:pb-64">
      <div class="grid items-center justify-center space-y-3 text-center">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">The Services</h2>
        <p
          class="mx-auto max-w-[700px] text-gray-500 dark:text-gray-400 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
        >
          Services that I offer to power your projects
        </p>
      </div>
      <Services />
    </div>
  </ContainerSection>
</section>

<style>
  @keyframes f {
    0% {
      transform: scale(0.7);
      opacity: 0;
    }
    50% {
      opacity: 0.17;
    }
    to {
      transform: scale(1);
      opacity: 0;
    }
  }

  .cc-profile-image:before {
    @apply absolute;
    content: "";
    background: radial-gradient(circle, #3b82f6 20%, #22c55e 100%);
    background-origin: border-box;
    border-radius: 50%;
    height: 12.2rem;
    width: 12.2rem;
    transform: translate(-50%, -50%);
    animation: f 1.6s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    z-index: 9;
  }

  .cc-profile-image img {
    @apply relative;
    z-index: 9;
  }
</style>
