---
const { maxWidth = "max-w-6xl", fullWidth = false } = Astro.props;

const containerClass = fullWidth
  ? "relative w-full"
  : `relative ${maxWidth} mx-auto px-4 text-default md:px-6 `;
---

<section class={containerClass}>
  <slot />
</section>
