---
interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<span
  class="mb-1 mr-2 inline-block rounded-md border border-gray-400/30 bg-gray-500/10 px-3 py-1 text-[0.7rem] uppercase tracking-wide dark:border-white/15 dark:bg-white/5"
>
  {tag}
</span>
